.inputbox{
   padding: 30px;
}

textarea {
   width: 65vw;
   height: 23vh;
   /* padding: 10px; */
   padding-left: 20px;
   resize: none;
   border-radius: 17px;
 
   font-size: 25px;
   outline: none;
   font-family: var(--roboto);
   overflow: scroll;
 }

 